.navbar {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.nav-auth {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 412px) {
  a {
    color: red;
    font-size: 25px;
  }
}

@media screen and (max-width: 250px){
    .nav-auth{
        display: none;
    }
}